/* REUSABLES */

/*
SOLID COLOR:#d35400
*/

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lato', "Ariel", "sans-serif";
}

h2,
h3 {
    margin: 0;
    padding: 0;
}

section {
    display: block;
    padding: 80px 0;
}

section:nth-child(odd) {
    background-color: #f4f4f4;
}

.rows {
    max-width: 1140px;
    margin: 0 auto;
}

.rows-container {
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.rows-nc {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

h2 {
    font-size: 200%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #f44277;
    width: 200px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

h3 {
    font-weight: 700;
}

.no-padAll {
    padding: 0;
}

.bold {
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

/**************************
HEADER
**************************/

.home {
    color: #fff;
    height: 100vh;
    background-image: -moz-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&s=8a506c643bb73787ad46f49182d02d66&auto=format&fit=crop&w=753&q=80);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&s=8a506c643bb73787ad46f49182d02d66&auto=format&fit=crop&w=753&q=80);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&s=8a506c643bb73787ad46f49182d02d66&auto=format&fit=crop&w=753&q=80);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&s=8a506c643bb73787ad46f49182d02d66&auto=format&fit=crop&w=753&q=80);
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&s=8a506c643bb73787ad46f49182d02d66&auto=format&fit=crop&w=753&q=80);
    background-size: cover;
    /*       background-position: center; */
    background-attachment: fixed;


}

.padding-bot {
    padding-bottom: 0;
}

.brand-container {
    display: inline-block;
    padding-top: 16px;
}

.brand-container2 {
    display: inline-block;
    padding-top: 37px;
}

.logo {
    font-size: 120%;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    height: auto;
    text-decoration: none;
}

.logo:hover,
.logo:active {
    text-decoration: none;
    color: #f44277 !important;
}

.logo:focus {
    text-decoration: none;
    -webkit-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
    color: #f44277 !important;
}

.button-margin {
    margin-top: 30px;
}

#nav-button {
    border-color: #ddd;
}

.navbar-style {
    background-color: #1c1c1c;
    border-color: black;
    opacity: 0.9;
    -webkit-box-shadow: 0 2px 2px black;
    box-shadow: 0 2px 2px black;
}

#navbar-one {
    z-index: 101;
}

.navbar {
    padding: 0;
    border-radius: 0;
    min-height: 69px;
}

.top-navbar-one {
    z-index: 100;
}

.navbar-brand {
    padding: 0;
}

.nav-menu a {
    color: #fff;
    padding-right: 10px;
}

.nav-menu a:hover,
.nav-menu a:active {
    border-bottom: 2px solid #f44277;
}

.js--nav-list {
    padding-top: 25px;
}

.js--nav-list li {
    margin-right: 5px;
    font-size: 110%;
}

.js--nav-list li a {
    display: inline-block;
}

.nav-menu li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px;
    width: auto;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.nav-menu {
    letter-spacing: 1.5px;
    padding-bottom: 12px;
    /*    text-transform: uppercase;*/
}

.js--first-nav a {
    color: #fff;
}

.js--first-nav ul:focus,
.js--first-nav ul:hover,
.js--first-nav ul:active {
    text-decoration: none;
    background-color: none !important;
}

.head-main {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;

}

.head-main h1 {
    letter-spacing: 1.5px;
    font-size: 300%;
    color: #eee;
}

.orange {
    color: #f44277;
}

.underline {
    border-bottom: 2px solid #f44277;
}

.name-occupation {
    letter-spacing: 1.5px;
    word-spacing: 1px;
}

.dot {
    color: #f44277;
}

.arrow-container {
    font-size: 250%;
    position: relative;
    top: 65vh;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow-container a i {
    color: #f44277;
    padding: 0 10px;
    border: 2px solid #f44277;
    border-radius: 45%;
}

.arrow-container a:link,
.arrow-container:focus,
    {
    text-decoration: none;
}

/* Animation */

.arrow-container {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/**************************
About Section
**************************/

.user-image {
    text-align: center;
}

.user-image img {
    width: 65%;
    max-width: 460px;
    border-radius: 50%;
    padding-bottom: 20px;
}

.user-image-label {
    display: block;
    padding: 10px;
    text-transform: uppercase;
}

.user-image-label:first-of-type {
    font-size: 100%;
}

/* animation */

.about-head {
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.user-image {
    -webkit-animation-duration: 1.75s;
    animation-duration: 3s;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

/**************************
SKILLS SECTION
**************************/

.skill-image img {
    width: 80%;
}

.no-pad-right {
    top: 5px;
    padding: 0;
    right: 26px;
}

#bootstrap-logo {
    width: 146%;
}

.skills-text-field {
    padding-top: 20px;
}

/**************************
PORTFOLIO SECTION
**************************/

.background {
    overflow: hidden;
    z-index: 10;
    opacity: 1;
    background-color: #222;
    border-bottom: 2px solid #f44277;
    box-shadow: -5px -0.1px 20px 0px black;
    -webkit-box-shadow: -5px -0.1px 20px 0px black;
    -moz-box-shadow: -5px -0.1px 20px 0px black;
}

.background:last-of-type {
    border-bottom: none;
}

#portfolio img {
    width: 100%;
    text-align: center;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
}
#portfolio img:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

#portfolio a:link,
#portfolio a:active,
#portfolio a:focus {
    text-decoration: none;
    color: #eee;
}

#portfolio a:hover {
    color: #eee;
}

.description-con {
    min-height: 258px;
    padding: 20px 10px;
    color: #eee;
}

.description-con p {
    margin: 20px 10px;
}

.tech-stack {
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    padding: 0 20px 40px 20px;
}

.tech-stack li {
    font-size: 70%;
    color: #eee;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    border: 2px solid #f44277;
    font-weight: bold;
}

.btn-con {
    margin: 0 40px 20px 40px;
}

.enter-btn {
    padding: 8px;
    margin: 0 8px;
    border-radius: 15px;
    text-decoration: none;
    border-style: none;
    border: solid 2px #4c4c4c;
    color: #eee;
}

.enter-btn:hover,
.enter-btn:active {
    border-color: #f44277;
}

#portfolio {
    padding-bottom: 12px;
}

/**************************
Contact-Footer Section
**************************/

.email-style {
    color: #333;
}

#p13 {
    margin-top: 10px;
}

.email-style:hover,
.email-style:focus {
    color: #d35400;
    text-decoration: none;
}

footer h3:hover {
    color: #f44277;
}

.footer-con {
    padding: 20px 0 10px;
}

footer {
    background-color: #1a1a1a;
}

.footer-section,
.footer-section p {
    color: #eee;
}

.social-list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.social-list li {
    float: left;
    padding: 10px 20px;
    font-size: 200%;
}

.social-list li a {
    color: #6e6e6e;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #3b5998;
}

.ion-social-github:hover,
.ion-social-github:active {
    color: #050505;
}

.ion-social-linkedin:hover,
.ion-social-linkedin:active {
    color: #007bb5;
}

.ion-fireball:hover,
.ion-fireball:active {
    color: darkgreen;
}

.resume-btn-con {
    padding-bottom: 15px;
}

.resume-btn {
    background: none;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    border-style: none;
    border: solid 2px #4c4c4c;;
    color: #eee;
}

.resume-btn:link,
.resume-btn:active {
    text-decoration: none;
}

.resume-btn:hover,
.resume-btn:focus {
    color: #f44277;
}

.resume-btn:hover,
.resume-btn:active {
    border-color: #f44277;
}

.resume-btn a {
    color: #eee;
    text-decoration: none;
}

.resume-btn a:hover,
.resume-btn a:active {
    text-decoration: none;
}

/**************************
JavaScript Animations
**************************/

.js--wp0 {
    opacity: 0;
}

.js--background-visible {
    background-color: #1c1c1c;
    border-color: black;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
    -webkit-box-shadow: 0 2px 2px black;
    box-shadow: 0 2px 2px black;
    z-index: 100;
}

.js--wp1 {
    opacity: 0;
}

.js--wp2 {
    opacity: 0;
}

.js--wp3 {
    opacity: 0;
}

.js--wp4 {
    opacity: 0;
}

.js--wp5 {
    opacity: 0;
}

.js--wp6 {
    opacity: 0;
}
